
.block{
  position: relative;
  .bg{
      width 100%
      border-radius: 5px;
  }
  .content{
    position: absolute
    left 0
    top 0
    color #fff
    font-size: 14px;
    line-height: 24px;
    padding 12.48% 0 0 37.95%
    width: 62%;
    .text-group{
      h1{
          font-size: 80px;
          font-weight: 800;
          line-height: 90px;
          padding 0 0 20px
      }
      p{
          font-size: 14px;
      }
    }
    ul{
      display: flex;
      padding: 100px 0 70px;
      max-width: 900px;
      li{
          width 23.33%
          border-left: 1px solid rgba(0,215,255,0.28);
          padding 0 5%
          .tag{
              line-height: 42px;
              padding: 0 21px;
              border-radius: 21px;
              font-size: 20px;
              font-weight: bold;
              color: #54D4FF;
              display inline-block
              border: 1px solid #00D7FF;
              margin 0 0 12px
          }
          p{
              padding 0 0 0 16px;
          }
          &:first-child{
              text-align: left
              padding 0 5% 0 0
              width 28.33%
              border-left: 0;
          }
      }
    }

  }
}
@media screen and (max-width: 1680px) {
  .block{
    .content{
      .text-group{
        h1{
            font-size: 60px;
            padding 0 0 10px
        }
      }
      ul{
        padding: 70px 0 30px;
        li{
            .tag{
                line-height: 28px;
                padding: 0 14px;
                border-radius: 14px;
                font-size: 16px;
            }
        }
      }

    }
  }
}
@media screen and (max-width: 1280px) {
  .block{
    .content{
      padding 9.48% 0 0 37.95%
      font-size: 12px;
      .text-group{
        h1{
            font-size: 40px;
        }
      }
      ul{
        padding: 20px 0 30px;
        li{
            width calc(33.33% - 21px)
            border-left: 1px solid rgba(0,215,255,0.28);
            padding 0 10px
            .tag{
                line-height: 28px;
                padding: 0 14px;
                border-radius: 14px;
                font-size: 14px;
            }
          p{
              padding 0;
          }
        }
      }

    }
  }
}
